<div class="container">
  <h3>Sign In</h3>
  <div class="row g-3">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
        formControlName="firstName"
      />
      <div class="text-danger">First name is required</div>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
        formControlName="firstName"
      />
      <div class="text-danger">Last name is required</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="onSignIn()">
        Sign in
      </button>
    </div>
    <a routerLink="/sign-up">New User?</a>
  </div>
</div>
