<div class="container">
  <h3>Edit Profile</h3>

  <img [src]="imageSrc" alt="Profile Image" class="img" />

  <form
    name="profile"
    [formGroup]="profileForm"
    (ngSubmit)="onUpdate(profileForm)"
  >
    <div class="row">
      <div class="row g-3 mb-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
            formControlName="firstName"
            (keypress)="onlyChars($event)"
          />
          <div
            *ngIf="
              (f['firstName'].invalid && f['firstName'].touched) ||
              f['firstName'].dirty
            "
          >
            <div
              *ngIf="f['firstName'].errors?.['required']"
              class="text-danger"
            >
              First name is required
            </div>
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
            formControlName="lastName"
            (keypress)="onlyChars($event)"
          />
          <div
            *ngIf="
              (f['lastName'].invalid && f['lastName'].touched) ||
              f['lastName'].dirty
            "
          >
            <div *ngIf="f['lastName'].errors?.['required']" class="text-danger">
              Last Name is required
            </div>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            formControlName="email"
            readonly
          />
          <div
            *ngIf="
              (f['email'].invalid && f['email'].touched) || f['email'].dirty
            "
          >
            <div *ngIf="f['email'].errors?.['required']" class="text-danger">
              Email is required
            </div>
            <div *ngIf="f['email'].errors?.['email']" class="text-danger">
              Enter valid email
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Select profile image</label>
        <input
          class="form-control"
          accept="image/*"
          type="file"
          id="formFile"
          (change)="onChangeImage($event)"
        />
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary col m-3">Update</button>
        <button
          type="button"
          class="btn btn-secondary col m-3"
          (click)="onCancle()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
